*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}
.container{
    background-color: rgb(95, 185, 133);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}
.timer{
    position: absolute;
    top: 4rem;
    font-size: 3rem;
    color: antiquewhite;
    font-weight: 100;
}