*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cornflowerblue;
}
.container{
    background-color: rgb(95, 185, 133);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}
.timer{
    position: absolute;
    top: 4rem;
    font-size: 3rem;
    color: rgb(207, 147, 129);
    font-weight: bold;
}
.qoute-display{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);

}
.qoute-input{
    background-color: transparent;
    outline: none;
    border: 2px solid pink;
    width: 100%;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.qoute-input:focus{
    border-color:black;
}